# This is your database configuration, update the relevant variables
DB_CONFIG = {
    'host': 'localhost',
    'user': 'user',
    'passwd': 'pass',
    'db': 'dbname'
}

# Bot token, taken from your Discord developer account
BOT_TOKEN = 'YOUR_BOT_TOKEN'

# TASK_INTERVAL_SECONDS tells Claudelete how often to check channels for updates
TASK_INTERVAL_SECONDS = 60

# CONFIG_RELOAD_INTERVAL tells Claudelete how often it should check cdconfig.py for updates
CONFIG_RELOAD_INTERVAL = 300

# MAX_CONCURRENT_TASKS tells Claudelete how many tasks to kick off at a time when checking channels for old messages that need to be deleted.
MAX_CONCURRENT_TASKS = 25

# Various configurable batch sizes, that will be read from the configuration file and periodically reloaded
PROCESS_CHANNEL_BATCH_SIZE = 250        # Batch size for process_channel()
DELETE_USER_MESSAGES_BATCH_SIZE = 100   # Batch size for delete_user_messages()
PURGE_CHANNEL_BATCH_SIZE = 100          # Batch size for purge_channel()

# PROCESS_CHANNEL_TIMEOUT tells Claudelete how long it should wait on a delete operation before it times out in process_channel
PROCESS_CHANNEL_TIMEOUT = 15

# CHANNEL_ACCESS_TIMEOUT will allow Claudelete to remove channels it hasn't had access to for the configured amount of time
CHANNEL_ACCESS_TIMEOUT = 24*60          # Default 24 hours in minutes